# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LearnProject.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Mikhail.Mitkevich\Documents\GitHub\LearnProject\.idea\.idea.LearnProject\.idea/dataSources/
/dataSources.local.xml
